<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FORD</title>
    <div class="logo">
        <a href="#"><link rel="icon" href="img/images.logo.webp"></a>
    </div>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

    <div class="tect-primary text-center">
        <a href="../index.html"  class="btn btn-primary mt-5"><b>back Home</b></a>
    </div>
    <div class="ford">
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3 ">
                    <div class="card-body">
                        <img src="../img/11111.png" class="img-fluid" alt="">
                        <h6>Ford SUV & Vehicle </h6>
                        <p class="text-danger"><b>$52,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3 ">
                    <div class="card-body">
                        <img src="../img/22222.png" class="img-fluid" alt="">
                        <h6>Ford SUV & Crossovers</h6>
                        <p class="text-danger"><b>$33,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3 ">
                    <div class="card-body">
                        <img src="../img/33333.png" class="img-fluid" alt="">
                        <h6>Ford SUV & Escape</h6>
                        <p class="text-danger"><b>$34,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3 ">
                    <div class="card-body">
                        <img src="../img/44444.png" class="img-fluid" alt="">
                        <h6>Ford SUV & Bronco</h6>
                        <p class="text-danger"><b>$54,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0  mt-3">
                    <div class="card-body">
                        <img src="../img/download (SUV).png" class="img-fluid" alt="">
                        <h6>Ford Explorer Electric 2024</h6>
                        <p class="text-danger"><b>$31,920</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3">
                    <div class="card-body">
                        <img src="../img/download (SUV2).png" class="img-fluid" alt="">
                        <h6>Ford Explorer 2023</h6>
                        <p class="text-danger"><b>$44,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3 ">
                    <div class="card-body">
                        <img src="../img/download (SUV3).png" class="img-fluid" alt="">
                        <h6>Ford Everest 2024</h6>
                        <p class="text-danger"><b>$74,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3 ">
                    <div class="card-body">
                        <img src="../img/download (SUV4).png" class="img-fluid" alt="">
                        <h6 class="mt-5"> Ford Escape 2022</h6>
                        <p class="text-danger "><b>$54,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3 ">
                    <div class="card-body">
                        <img src="../img/download (SUV5).png" class="img-fluid" alt="">
                        <h6 class="mt-5">Ford 2025 Ford Bronco Sport® - Search Inventory</h6>
                        <p class="text-danger"><b>$48,999</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div  class="col-lg-3 text-center">
                <div class="card border-0 mt-3 " >
                    <div class="card-body">
                        <img src="../img/1717.avif" class="img-fluid" alt="">
                        <h6 class="mt-5">Ford SUV & Edge 2023</h6>
                        <p class="text-danger"><b>$34,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center" >
                <div class="card border-0 mt-3">
                    <div class="card-body">
                        <img src="../img/1616.avif" class="img-fluid" alt="">
                        <h6 class="mt-5">Ford SUV & Vehicle 2024</h6>
                        <p class="text-danger"><b>$51,300</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 mt-3 ">
                    <div class="card-body">
                        <img src="../img/1515.avif" class="img-fluid" alt="">
                        <h6 class="mt-5">Ford Mustang Mach-E 2025</h6>
                        <p class="text-danger"><b>$39,995</b></p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>   
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h4 id="scrollspyHeading5"></h4>
        <h2 class="text-center">ENQUIRE</h2>
        <form>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label"></label>
                    <input type="text" class="form-control"placeholder="Name *" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label"></label>
                    <input type="text" class="form-control"placeholder="Contact Number *" required>
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label"></label>
                    <input type="text" class="form-control" placeholder="Surname *" name="#" id="#">
                </div>
                <div class="col-md-6">
                    <label class="form-label"></label>
                    <input type="email" class="form-control"placeholder="Email Address *" required>
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label"></label>
                <select class="form-select"placeholder="Select a dealer *" required>
                    <option value="" disabled selected>Select a dealer</option>
                    <option value="dealer1">Dealer 1</option>
                    <option value="dealer2">Dealer 2</option>
                    <option value="dealer3">Dealer 3</option>
                </select>
            </div>
    
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="terms" required>
                <label class="form-check-label" for="terms">I agree to the <strong>Terms and Conditions</strong>*</label>
            </div>
    
            <div class="d-flex gap-3">
                <button type="submit" class="btn btn-primary">Enquire Now</button>
                <button type="button" class="btn btn-outline-primary">Call Dealership</button>
               
            </div>
           
        </form>
    </div>
<!--Footer-->
    
     <footer class="content text-center text-lg-start bg-info">
        <div class="container text-white">
            <div class="row">
                <div class="col-md-4 mt-5">
                    <h6><b>Get in touch with us</b></h6>
                    <p>Moderna company inc</p>
                    <p>Modernbuilding suite V124, AB 01</p>
                    <p>Someplace 16425 Earth</p>
                    <p>(123) 456-7890 - (123) 555-7891</p>
                    <p><i>email@domainname.com</i></p>
                    <p style="color: rgb(211, 223, 223);" class="mt-5">©Phea Run Business Owner </p>
                </div>
                
                <div class="col-md-2 mt-5">
                    <h6><b>Pages</b></h6>
                    <p>Press release</p>
                    <p>Terms and conditions</p>
                    <p>Privacy policy</p>
                    <p>Career center</p>
                    <p>Contact us</p>
                </div>
                <div class="col-md-3 mt-5">
                    <h6>Latest posts</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Pellentesque et pulvinar enim. Quisque at tempor ligula.</p>
                    <p>Natus error sit voluptatem accusantium doloremque.</p>
                </div>
                <div class="col-md-3 mt-5">
                    <h6><b>Find us on Map</b></h6>
                    <div class="map-container mt-2">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15680.188751804777!2d104.89216685!3d11.5563737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109511199f7e37b%3A0xf277406cf1b9b0e!2sPhnom%20Penh%2C%20Cambodia!5e0!3m2!1sen!2skh!4v1708170000000!5m2!1sen!2skh" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="text-center mt-4">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-pinterest"></i>
                        <i class="bi bi-google"></i>
                    </div>
                </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>